<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gladness.merriment.treat.hilaritypro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/activity_paid"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        
<activity
            android:name="com.gladness.merriment.transceiver.LFCombinationBlueActivity"
            android:screenOrientation="portrait" />
<activity
            android:exported="true"
            android:name="com.gladness.merriment.treat.hilaritypro.KQGreenReelsActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>